.gallery-screen {
  margin-bottom: 100px;
}

.gallery__status-bar {
  background-color: white;
}

.gallery-screen__photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery__photo {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 3px 13px -3px black;
}

.gallery__photo:nth-child(even):hover {
  border: 0.5px solid white;
  transform: scale(2.5) translateX(-50px);
  box-shadow: 0px 3px 7px -3px black;
}
.gallery__photo:nth-child(odd):hover {
  border: 0.5px solid white;
  transform: scale(2.5) translateX(50px);
  box-shadow: 0px 3px 7px -3px black;
}
